@inherits BlazorTabsBase

<h1>@BlazorRocksText</h1>

<table>
    <thead>
        <tr>
            <th>Princesse 1</th>
            <th>Princesse 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ariel</td>
            <td>Jasmine</td>
        </tr>
    </tbody>
</table>

