@inherits BlazorTabsBase

<CascadingValue Value="this">
    <nav class="nav nav-tabs">
        @ChildContent
    </nav>
</CascadingValue>


<div class="nav-tabs-body">
    @ActiveTab?.ChildContent
</div>


