@inherits TabBase
@using Microsoft.AspNetCore.Components.Web
<style>
    .nav-tabs .active {
        border-top: 4px solid #00ff21 !important;
        padding-top: 5px;
        border-bottom: 1px solid transparent;
        background-color: white;
    }

    .nav-link {
        cursor: pointer;
        margin-right: 3px;
    }
</style>

<div @onclick="@Activate" class="@ClassCss @Active">
    @if (TabHeader == null)
    {
        @Title
    }
    else
    {
        @TabHeader
    }
</div>

