@page "/blazorinput"
@using BlazorNInput

<h1>Blazor input</h1>

<BlazorInputText Placeholder="Ariel"
                 @bind-Value="Ariel" />

@Ariel
<br />

<button @onclick="newInput">modification</button>

@code{

    private string _ariel = "Jasmine";
    public string Ariel {
        get => _ariel;
        set
        {
            _ariel = value;
            StateHasChanged();
        }
    }

    public void newInput()
    {
        Ariel = "Nouvel input";
    }
}