@page "/blazorinput"

<h1>Blazor input</h1>

@*<BlazorInputText Placeholder="Toto"
                 ReadOnly="false"
                 @bind-Input="ContentEditableText"
                 InputObject="toto"
                 InputType="string"
                 LabelError="super erreur" />*@

@code{
    public string ContentEditableText { get; set; }
}