@page "/ntooltip"

<h3>NTooltip</h3>

Je suis un <Tooltip Text="Une info-bulle">tooltip haut </Tooltip>.
<br />
Je suis un <Tooltip Position="bottom" Text="Une info-bulle">tooltip bas </Tooltip>.
<br />
Je suis un <Tooltip Position="left" Text="Une info-bulle">tooltip gauche </Tooltip>.
<br />
Je suis un <Tooltip Position="right" Text="Une info-bulle">tooltip droite </Tooltip>.
