@page "/tabs"

<h1>Test tabs</h1>
<BlazorTabs>
    <Tab Title="Ariel">
        Ariel est un personnage de fiction qui est apparu pour la première fois dans le long métrage d'animation La Petite Sirène (1989). Elle est inspirée du personnage du conte La Petite Sirène de Hans Christian Andersen. 
        <br />Le personnage apparaît dans les suites du film sorties directement en vidéo : La Petite Sirène 2 : Retour à l'océan (2000) et Le Secret de la Petite Sirène (2008) ainsi qu'une série télévisée, La Petite Sirène. 
        <br />Elle fait partie de la franchise Disney Princess.
    </Tab>
    <Tab Title="Jasmine">
        Jasmine est un personnage de fiction qui est apparu pour la première fois dans le long métrage d'animation Aladdin (1992). Son prénom vient de l'arabe : الأميرة ياسمين « Āl āmyrah Yāsmyn ». 
        <br />Elle est inspirée du personnage de la Princesse Badroulboudour du conte Aladin et la Lampe merveilleuse des Mille et Une Nuits. Le personnage apparaît dans les suites du film sorties directement en vidéo : 
        <br />Le Retour de Jafar (1994) et Aladdin et le Roi des voleurs (1996), ainsi qu'une série télévisée, Aladdin (1994-1995) et des bandes dessinées. Elle fait partie de la franchise Disney Princess.
    </Tab>
</BlazorTabs>

