.errorField {
    color: #f44336;
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
    font-size: 12px;
    font-weight: normal;
    box-sizing: border-box;
}

.errorFieldContent {
    background-color: inherit;
    height: 100%;
    line-height: 16px;
    overflow-wrap: break-word;
    overflow-x: hidden;
    padding: 3px 6px;
    position: relative;
    white-space: normal;
    width: 100%;
    word-break: break-word;
    z-index: 1;
}
