<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorComponent</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ntooltip">
                <span class="oi oi-info" aria-hidden="true"></span> BlazorNTooltip
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> BlazorNDataGrid
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tabs">
                <span class="oi oi-tablet" aria-hidden="true"></span> BlazorNTabs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="select">
                <span class="oi oi-signal" aria-hidden="true"></span> Select
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="blazorinput">
                <span class="oi oi-signal" aria-hidden="true"></span> blazorinput
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jsisolation">
                <span class="oi oi-signal" aria-hidden="true"></span> JS Isolation
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
